@charset "utf-8";

.paginas {
    text-align: center;
    background-color: black;
}
body {
    background-image: url('vermelho.jpg');
    color: red;
}
.titulo {
    text-align: center;
}
.footer {
    color: chocolate;
    text-align: center;
}
.text1 {
    border: 1px solid white ;
}
.text2 {
    border: 1px solid white;
}
.tex3 {
    border: 1px solid white;
    
}

a:hover {
    background-image: url('raios.jpg');
    background-position: center;
}
.footer {
    color: chocolate;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}