@charset "utf-8";

body {
    
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color:rgb(173, 7, 7);
    line-height: 1.6em;
    background-image: url('vermelho.jpg');
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 0.1%;

}

.text {
    border: 1px solid rgb(165, 160, 160);
}
.titulo {
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 17px;
    line-height: 1.6em;
}
.paginas {
    background-color: black;
    text-align: center;
    

}  
.footer {
    color: chocolate;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:hover {
    background-image: url('raios.jpg');
    background-position: center;
}
    




    


